.admin-login-page {
    max-width: 400px;
    margin: 100px auto;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: calc(100% - 10px);
    padding: 8px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button.login-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

button.login-button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 10px;
}
.admin-page {
    padding: 16px;
    text-align: center;
}

.user-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

.user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.delete-button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.delete-button:hover {
    background-color: darkred;
}
