/* Pre-defined variables */
$add-button-color: #008000;
$secondary-button-color: #ff0000;
$text-color: #FFFFFF;
$error-message-color: #ff0000;
$border-color: #d3d3d3;
$input-border: 0.04rem solid $border-color;
$main-border: 0.15rem solid $border-color;
$table-border: 0.1rem solid black;
$footer-border: 0.15rem solid $border-color;
$input-font-size: 2rem;
$input-height: 2.5rem;
$input-margin-left: 2rem;
$footer-padding: 1.5rem;
$header-padding: 1em;
$content-height: 85vh;
$table-width: 19vw;
$form-width: 80vw;
$table-padding: 1rem;
$button-cursor: pointer;
